body {
	padding-top: 60px;
}
.text-indent{
	text-indent: 2em;
}
.news-category-link{
	text-align: right;
}
.calendar-wrap{
    margin: 0 20px;
}
.calendar{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}
.calendar th {
    font-weight: bold;
}
.calendar th, .calendar td {
    padding: 8px;
    line-height: 20px;
    vertical-align: top;
    border-top: 1px solid #DDD;
}
.calendar .calendar-day-link{
    display: block;
}
.calendar .calendar-day-link:hover{
    background-color: #ccc;
}

.align-center{
    text-align: center;
}
.align-right{
    text-align: right;
}
.align-left{
    text-align: left;
}