{% extends "base.html" %}
{% load i18n %}
{% block logout %}{% endblock %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}

<h1>{% trans "Password reset" %}</h1>

<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

<form action="" method="post">{% csrf_token %}
{{ form.as_p }}
<p>
<input type="submit" value="{% trans 'Reset my password' %}" />
</p>
</form>

{% endblock %}
