<!DOCTYPE html>
<html>

{% load i18n %}

  <head>
    <title>{% block title %}super_proj{% endblock title %}</title>
    <meta charset="UTF-8">
    <!-- Bootstrap -->
    {% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/reset.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}css/screen.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" media="print" href="{{ MEDIA_URL }}css/print.css" />
	<!--[if IE 6]><link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ie6.css" media="screen" /><![endif]-->
    {% endblock stylesheet %}
    {% block jsscripts %}
   <script src="http://code.jquery.com/jquery-latest.js"></script>
    {% endblock jsscripts %}
  </head>
<body>

<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          {% block header %}
            <a class="brand" href="/">Инфодом Алтай</a>
          {% endblock header %}
          <div class="nav-collapse collapse">
		      {% block menu %}
            <ul class="nav">
              <li class="divider-vertical"></li>
              <li><a href="{% url news_news_list %}">Аси</a></li>
              <!-- <li class="divider-vertical"></li>
              <li><a href="#">Нко</a></li>
              <li class="divider-vertical"></li>
              <li><a href="#">Сми</a></li> -->
              <li class="divider-vertical"></li>
            </ul>
      		{% endblock menu %}
          </div><!--/.nav-collapse -->
            <ul class="nav pull-right">
          {% if user.is_anonymous %}
              <li><a href="https://oauth.vk.com/authorize?client_id=3216672&amp;redirect_uri={{ "http://109.227.252.153:8000/vk_callback"|urlencode }}&amp;response_type=code">Войти</a></li>
	  {% else %}
	      <li class="navbar-text"><img src="{{ user.vk_user.photo_50 }}" width="30" height="30"/> {{ user.get_full_name }}</li>
	      <li><a href="{% url logout %}">Выйти</a></li>
          {% endif %}
            </ul>
        </div>
      </div>
    </div>

    <div class="container">
    <!-- start content -->	
    {% block content %}
    {% endblock content %}
    <!-- end content -->	
    </div>
    <div class="footer">
      <div class="container muted">
        <p class="align-center"><small>Использование информации с сайта <a href="http://infohome-altai.ru" title="http://infohome-altai.ru">http://infohome-altai.ru</a> разрешенно только с указанием ссылки на источник.</small></p>
        <div class="row">
          <div class="span6 align-right">
              <small><strong>"Молодые журналисты Алтая"</strong><br>Все права защищены<br>© 1999-2012</small>
          </div>
          <div class="span6 align-left">
            <small>
                656038, г. Барнаул, а/я 661,<br>
                тел./факс (385-2) 35-49-98,<br>
                e-mail: <a href="mailto:yaj@yaj.ru">yaj@yaj.ru</a>
            </small>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ MEDIA_URL }}bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
