{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span8">
                {% block page-content %}
                {% endblock page-content %}
            </div>
            <div class="span4">
                {% block right-sidebar %}
                {% endblock right-sidebar %}
            </div>
        </div>
    </div>
{% endblock content %}