{%extends "news_base.html" %}
    {% block jsscripts %}
      <script src="http://code.jquery.com/jquery-latest.js"></script>
      <script src="{{ MEDIA_URL }}js/jquery.calendar.js"></script>
      <script src="{{ MEDIA_URL }}js/script.js"></script>
    {% endblock jsscripts %}
{% block page-content %}
{% load pytils_dt %}
<div>
    {% for object in news_list.object_list %}
        <div class="well well-small" id="news{{ object.id }}">
    		<div class="row-fluid">
                <div class="span4"><small class="muted">{{ object.add_date|ru_strftime:"%d %B %Y" }}</small></div>
    			<div class="span8 news-category-link" >
                    <a href="{% url news_news_list_category object.category.id %}" class="btn btn-link">{{ object.category }}</a>
                </div>
            </div>
    		{% if not object.published %}<span class="label label-warning">Не опубликованно</span>{% endif %}
            <h4>{{ object.title }}</h4>
	    {% if object.author %}
	        <div class="muted"><small>Автор: {{ object.author.get_full_name }}</small></div>
	    {% endif %}
    		<p class="text-indent">
    			{{ object.get_teaser }}
    		</p>
    		<a href="{{ object.get_absolute_url }}" class="btn btn-link">Читать ...</a>
        </div>
    {% endfor %}

    <div class="navigation">
    {% if news_list.has_next %}
        <div><a href="?page={{ news_list.next_page_number }}" >&laquo; Next Entries </a></div>
    {% endif %}
    {%if news_list.has_previous %}
        <div><a href="?page={{ news_list.previous_page_number }}" >Previous Entries &raquo;</a></div>
    {% endif %}
    </div>
</div>
{% endblock page-content %}
{% block right-sidebar %}
    <div class="">
        <ul class="nav nav-list">
            {% if user.is_staff %}
                <li class="nav-header">Администрирование</li>
                <li><a href="{% url news_news_view_add %}"><i class="icon-chevron-right"></i>Добавить новость</a></li>
            {% endif %}
                <li class="nav-header">Категории</li>
            {% for object in category_list %}
                <li>
                    <a  href="{% url news_news_list_category object.id %}" 
                        class="{% if not object.published %}muted{% endif %}"
                    >
                        <i class="icon-chevron-right"></i>
                        {{ object.title }}
                        {% if user.is_staff %}
                            <button class="btn btn-link btn-small cat-publ-link" data-cat-id="{{ object.id }}">
                                {% if not object.published %}
                                    <i class="icon-eye-open"></i>
                                {% else %}
                                    <i class="icon-eye-close"></i>
                                {% endif %}
                            </button>
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
                <li class="nav-header">Календарь</li>
        </ul>
        <div class="calendar-wrap"></div>
        <script>
            $(".calendar-wrap").calendar({
                    url:'{% url calendar_dates %}',
                    link:'{% url news_news_list %}%y/%m/%d',
                    dates: {{ dates }}
                });
        </script>
    </div>
{% endblock right-sidebar %}
