{%extends "news_base.html" %}
{% load pytils_dt %}
{% load crispy_forms_tags %}
{% block page-content %}
    <div class="well well-small" id="news{{ object.id }}">
        <div class="row-fluid">
            <div class="span4"><small class="muted">{{ object.add_date|ru_strftime:"%d %B %Y" }}</small></div>
            <div class="span8 news-category-link" >
                {% if object.category %}
                    <a href="{% url news_news_list_category object.category.id %}" class="btn btn-link">{{ object.category }}</a>
                {% endif %}
            </div>
        </div>
        {% if not object.published %}
            <span class="label label-warning">Не опубликованно</span>
        {% endif %}
        {% if user.is_staff %}
            <ul class="nav nav-tabs">
                {% if object.id %}
                    <li class="active"><a href="#view" data-toggle="tab">Просмотр</a></li>
                    <li><a href="#edit" data-toggle="tab">Редактировать</a></li>
                {% else %}
                    <li class="active"><a href="#edit" data-toggle="tab">Редактировать</a></li>
                {% endif %}
            </ul>           
        {% endif %}
        <div class="tab-content">
            {% if object.id %}
                <div id="view" class="tab-pane active">
		    <div class="page-header">
                    <h4>{{ object.title }}</h4>
		    {% if object.author %}
                        <div class="muted"><small>Автор: {{ object.author.get_full_name }}</small></div>
                    {% endif %}
		    </div>
                    <div class="text-indent"> {{ object.body|linebreaks }}</div>
                </div>
            {% endif %}    
            {% if user.is_staff %}
                <div id="edit" class="tab-pane {% if not object.id %}active{% endif %}">
                    {% crispy form %}
                </div>            
            {% endif %} 
        </div>
    </div>
{% endblock page-content %}
{% block right-sidebar %}
    <ul class="nav nav-list">
            <li class="nav-header">Смотрите также:</li>
        {% for titles in object.get_related_news %}
            <li>
                <a href="{{ titles.get_absolute_url }}">{{ titles.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock right-sidebar %}
